.table-report {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-report th,
.table-report td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-report th {
  background-color: #f2f2f2;
  font-weight: bold;
}
